html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

#filter_field {
  font-size: 12px;
  padding: 1%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(0, 185, 231);
  border-width: 2px;
}


#filter {
  font-size: 18px;
  padding: 1%;
  padding-right: 5%;
  padding-left: 5%;
  background-color: rgb(0, 204, 255);
  color: white;
  border-radius: 8px;
  border-style: none;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#map {
  width: 80%;
  height:100%;
  float: right;
}

.options-box {
  background-color: white;
  height: 100%;
  width: 20%;
  display: block;
  position: fixed;
  text-align: center;
}